{% extends 'base.html'%}

{%block title%}

{%endblock%}

{%block body%}
<h1>Создайте  свой маршрут</h1>
 <form action="" method="post">
       <fieldset>
           {block
           <label for="startpoint">Название начальной точки</label>
           <input type="text" name="startpoint" placeholder="startpoint">
       </fieldset>
       <fieldset>
           <label for="point1"> Первая точка</label>
           <input type="text" name="point1" placeholder="point1">
       </fieldset>
       <fieldset>
           <label for="endpoint">Конечная точка</label>
           <input type="text" name="endpoint" placeholder="endpoint">
       </fieldset>
       <button type="submit">Создать маршрут</button>
   </form>
{%endblock%}