{% extends 'base.html'%}

{%block title%}

{%endblock%}

{%block body%}
<div align="center">
    <main class="px-3">
        <h1>Web-приложение для построения маршрутов</h1>
        <p class="lead">Сайт позволит вам узнать интересные точки, выбрать интересующий вас маршрут или создать свой собственный</p>
        <p class="lead">
          <a href="/createroute" class="btn btn-lg btn-secondary font-weight-bold border-white bg-black">Создать маршрут</a>
        </p>
    </main>
</div>
{%endblock%}