{% extends 'base.html'%}

{%block title%}
Главная страница
{%endblock%}

{%block body%}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="font-weight-light">Не знаете с чего начать?</h1>
        <h1 class="font-weight-light">Выберите маршрут из тех, что мы составили!</h1>
<!--        <p class="lead text-muted">Не знаете с чего начать? Выберите маршрут из тех,что мы составили!</p>-->
      </div>
    </div>
  </section>

  <div class="container" style="color:black">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm" style="background:#DCDCDC">
          <img src="../static/images_routes/01.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Путь 1">

          <div class="card-body">
            <p class="card-text">Данный маршрут универсален и подойдёт как людям науки, так и заинтересованным в искусстве людям. Вы сможете посетить павильон физики, увидеть театр сказок и отправиться в павильон “Юные натуралисты”.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/suggested_route/1">Посмотреть</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background:#DCDCDC">
          <img src="../static/images_routes/02.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Путь 1">

          <div class="card-body">
            <p class="card-text">В этом маршруте вы познакомиться с роботехникой и посетить такие живописные страны, как Армения, Карелия и Узбекистан. Данный маршрут будет интересен любителям путешествовать и просто любознательным людям.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/suggested_route/2">Посмотреть</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background:#DCDCDC">
          <img src="../static/images_routes/03.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Путь 1">

          <div class="card-body">
            <p class="card-text">Данный маршрут наполнен красотой и искусством. Вы познакомиться со сказочной Карелией, увидеть макет огромной Москвы и побывать в арт-резиденции. Этот маршрут подойдёт любителям искусства и вдохновения.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/suggested_route/3">Посмотреть</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm" style="background:#DCDCDC">
          <img src="../static/images_routes/04.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Путь 1">

          <div class="card-body">
            <p class="card-text">  Этот маршрут будет интересен любителям искусства. Во время него вы сможете отдохнуть и покататься на катке, узнаете много нового про славянскую письменность и познакомитесь с искусством фокусов в музее оптических иллюзий, а также увидите таинственных обитателей до конца неисследованных морей и океанов.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/suggested_route/4">Посмотреть</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background:#DCDCDC">
          <img src="../static/images_routes/05.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Путь 1">

          <div class="card-body">
            <div class="text-place">
              <p class="card-text">Данный маршрут придется по вкусу большинству. Во время этого маленького путешествия, вы сможете: посетить баттерфлярий, где живут более 50 видов разнообзаных бабочек, пройтись по основным фонтанам и посетить удивительное место, где обитают зверушки – роботы.<br> </p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/suggested_route/5">Посмотреть</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background:#DCDCDC">
          <img src="../static/images_routes/06.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Путь 1">

          <div class="card-body">
            <p class="card-text">Данный маршрут подойдет тем, кто интересуется историей своей страны. Проходя по нему, Вы загляните в кучу удивительных мест, начиная с роботоагенства и заканчивая музеем игровых автоматом. В нем вы сможете познакомится с историей: авиации, союзмультфильма, иллюзий и еще много чего.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/suggested_route/6">Посмотреть</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm" style="background:#DCDCDC">
          <img src="../static/images_routes/07.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Путь 1">

          <div class="card-body">
            <p class="card-text">Данный маршрут подойдет для прогулок с детьми. Вы посетите кучу увлекательных мероприятий, познакомиться с миром робототехники и почувствовать себя настоящим космонавтом.
</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/suggested_route/7">Посмотреть</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background:#DCDCDC">
          <img src="../static/images_routes/08.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Путь 1">

          <div class="card-body">
            <p class="card-text">В данном маршруте Вы сможете кратко посетить все культурные павильоны нашей страны. Он включает в себя и разнообразные Музее, молодежные павильоны и многое другое.</другое></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/suggested_route/8">Посмотреть</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background:#DCDCDC">
          <img src="../static/images_routes/09.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Путь 1">

          <div class="card-body">
            <p class="card-text">Данный маршрут настроен под шопинг. Пройдя по нему, Вы посетите торговые центры Молдовы, Азербайджана и многие другие, где продаются национальные игрушки и одеяния.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/suggested_route/9">Посмотреть</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{%endblock%}
