{% extends 'base.html'%}

{% block title %}
выберите маршруты
{%endblock%}

{% block body %}  
<h1>не знаете с чего начать?выберите маршрут из тех,что мы составили!</h1>
<p>
    <a href='/suggestedroute1'>Маршрут 1</a>  
    - данный маршрут универсален и подойдёт как людям науки, так и заинтересованным в искусстве людям. Вы сможете посетить павильон физики и узнать её влияние на нашу жизнь, увидеть театр сказок и отправиться в павильон “Юные натуралисты”.
    
</p>
<p>
     <a href='/suggestedroute2'>Маршрут 2</a>
     - в этом маршруте вы сможете познакомиться с роботехникой и посетить такие живописные страны, как Армения, Карелия и Узбекистан. Данный маршрут будет интересен любителям путешествовать и просто любознательным людям.
    
</p>

<p>
     <a href='/suggestedroute3'>Маршрут 3</a>
      - данный маршрут наполнен красотой и искусством. Вы сможете познакомиться со сказочной Карелией, увидеть макет огромной Москвы и побывать в арт-резиденции. Этот маршрут подойдёт любителям искусства и вдохновения.


</p>
<p>
     <a href='/suggestedroute4'>Маршрут 4</a>  
     - во время этого маршрута вы сможете отдохнуть и покататься на катке, узнаете много нового про славянскую письменность и познакомитесь с искусством фокусов в музее оптических иллюзий, а также сможете увидеть таинственных обитателей до конца неисследованных морей и океанов. Этот маршрут универсален, он будет интересен как любителям тайн и загадок, так и людям, интересующимся изобретениями прошлого.

</p>


{% endblock %}